@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.forbidden-wrapper {
  padding: 1rem;
  background: black;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #54fe55;
  text-shadow: 0px 0px 10px;
  font-size: 6rem;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;

  .txt {
    font-size: 1.8rem;
  }

  .blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
