.idea
.git
.vscode
.history
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


node_modules
dist
build
coverage
dist-ssr



.DS_Store
*.local
.env.local*
.env.development*
.env.test*
.env.production*

# Built Visual Studio Code Extensions
*.vsix

npm-debug.log*
yarn-debug.log*
yarn-error.log*

