.login-form {
    .response-hint {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #666;
    }

    .login-footer {
        margin-top: 8px;

        .forgot-password {
            text-align: left;
            color: #333;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 3px;
            }
        }

        .login-btn {
            margin-bottom: 24px;
        }

        .signup-action {
            display: flex;
            align-items: center;

            .no-account-text {
            }

            .signup-btn {
                cursor: pointer;
                margin-left: 4px;
                text-decoration: none;
                text-underline-offset: 3px;
                font-weight: bold;
                color: #666;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
