.empty-content-wrapper {
    background-color: #fff;
    height: 100%;
    justify-content: center;
    font-style: italic;

    .semi-empty-content {
        .semi-empty-title {
            font-size: 16px;
            color: #aaa;
        }

        .semi-empty-description {
            font-size: 14px;
            color: #aaa;
        }
    }
}
